<form *ngIf="projectSpecification" name="deleteForm" (ngSubmit)="confirmDelete(projectSpecification.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="projectSpecificationDeleteDialogHeading" yaliTranslate="entity.delete.title">
      Confirm delete operation
    </h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <yali-alert-error></yali-alert-error>
    <p
      id="yali-delete-projectSpecification-heading"
      yaliTranslate="bisterApp.projectSpecification.delete.question"
      [translateValues]="{ id: projectSpecification.id }"
    >
      Are you sure you want to delete Project Specification {{ projectSpecification.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span yaliTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="yali-confirm-delete-projectSpecification" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span yaliTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
