<div>
  <h2 id="page-heading" data-cy="ProductSpecificationGroupHeading">
    <span yaliTranslate="bisterApp.productSpecificationGroup.home.title">Product Specification Groups</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span yaliTranslate="bisterApp.productSpecificationGroup.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-product-specification-group"
        [routerLink]="['/product-specification-group/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" yaliTranslate="bisterApp.productSpecificationGroup.home.createLabel">
          Create a new Product Specification Group
        </span>
      </button>
    </div>
  </h2>

  <yali-alert-error></yali-alert-error>

  <yali-alert></yali-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" yaliTranslate="bisterApp.productSpecificationGroup.home.search"
          >Search for Product Specification Group</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'bisterApp.productSpecificationGroup.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="productSpecificationGroups?.length === 0">
    <span yaliTranslate="bisterApp.productSpecificationGroup.home.notFound">No Product Specification Groups found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="productSpecificationGroups && productSpecificationGroups.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr yaliSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" yaliSortBy="id">
            <div class="d-flex">
              <span yaliTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" yaliSortBy="title">
            <div class="d-flex">
              <span yaliTranslate="bisterApp.productSpecificationGroup.title">Title</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" yaliSortBy="slug">
            <div class="d-flex">
              <span yaliTranslate="bisterApp.productSpecificationGroup.slug">Slug</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" yaliSortBy="description">
            <div class="d-flex">
              <span yaliTranslate="bisterApp.productSpecificationGroup.description">Description</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" yaliSortBy="product.name">
            <div class="d-flex">
              <span yaliTranslate="bisterApp.productSpecificationGroup.product">Product</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productSpecificationGroup of productSpecificationGroups; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/product-specification-group', productSpecificationGroup.id, 'view']">{{ productSpecificationGroup.id }}</a>
          </td>
          <td>{{ productSpecificationGroup.title }}</td>
          <td>{{ productSpecificationGroup.slug }}</td>
          <td>{{ productSpecificationGroup.description }}</td>
          <td>
            <div *ngIf="productSpecificationGroup.product">
              <a [routerLink]="['/product', productSpecificationGroup.product.id, 'view']">{{ productSpecificationGroup.product.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/product-specification-group', productSpecificationGroup.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" yaliTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/product-specification-group', productSpecificationGroup.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" yaliTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(productSpecificationGroup)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" yaliTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="productSpecificationGroups && productSpecificationGroups.length > 0">
    <div class="d-flex justify-content-center">
      <yali-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></yali-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
