<div>
  <h2 id="page-heading" data-cy="ProjectHeading">
    <form name="searchForm" class="row row-cols-sm-auto align-items-center justify-content-center">
      <div class="col-sm-12 col-md-6 mb-4">
        <div class="input-group w-100 mt-3">
          <label class="visually-hidden" for="currentSearch" yaliTranslate="bisterApp.project.home.search">Search for Project</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'bisterApp.project.home.search' | translate }}"
          />

          <button class="btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </div>
    </form>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span yaliTranslate="bisterApp.project.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project"
        [routerLink]="['/project/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" yaliTranslate="bisterApp.project.home.createLabel"> Create a new Project </span>
      </button>
    </div>
  </h2>

  <yali-alert-error></yali-alert-error>

  <yali-alert></yali-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="projects?.length === 0">
    <span yaliTranslate="bisterApp.project.home.notFound">No Projects found</span>
  </div>

  <div *ngIf="projects && projects.length > 0" id="entities" class="mt-0">
    <div class="list-group">
      <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let project of projects; trackBy: trackId">
        <div class="row">
          <div class="col-2 col-xs-12 justify-content-center">
            <img src="../content/images/pexels-photo-439391.jpeg" style="max-height: 150px" alt="product image" />
          </div>
          <div class="col col-xs-12">
            <div class="d-flex w-100 justify-content-between">
              <a [routerLink]="['/project', project.id, 'view']">
                <h5 class="mb-1">{{ project.name }}</h5>
              </a>
              <div class="row row-cols-sm-auto align-items-center">
                <small *ngIf="project.projectType">
                  <a [routerLink]="['/project-type', project.projectType.id, 'view']">{{ project.projectType.name }}</a>
                </small>
                <button
                  id="jh-create-entity"
                  data-cy="entityCreateButton"
                  class="btn btn-primary jh-create-entity create-enquiry"
                  [routerLink]="['/enquiry/new']"
                >
                  <fa-icon icon="plus"></fa-icon>
                  <span class="hidden-sm-down" yaliTranslate="bisterApp.enquiry.home.createLabel"> Create a new Enquiry </span>
                </button>
              </div>
            </div>

            <small class="mb-1">{{ project.description }}</small>
            <p class="mb-1">
              <span yaliTranslate="bisterApp.project.estimatedBudget">Estimated Budget : </span> {{ project.estimatedBudget }}
            </p>
            <small>
              <p>
                <span yaliTranslate="bisterApp.project.sharableHash">Sharable Hash :</span>
                {{ project.sharableHash }}
              </p>
            </small>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div *ngIf="projects && projects.length > 0">
    <div class="d-flex justify-content-center">
      <yali-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></yali-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
