<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="productAttribute">
      <h2 data-cy="productAttributeDetailsHeading">
        <span yaliTranslate="bisterApp.productAttribute.detail.title">Product Attribute</span>
      </h2>

      <hr />

      <yali-alert-error></yali-alert-error>

      <yali-alert></yali-alert>

      <dl class="row-md jh-entity-details">
        <dt><span yaliTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ productAttribute.id }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.productAttribute.name">Name</span></dt>
        <dd>
          <span>{{ productAttribute.name }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.productAttribute.slug">Slug</span></dt>
        <dd>
          <span>{{ productAttribute.slug }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.productAttribute.type">Type</span></dt>
        <dd>
          <span>{{ productAttribute.type }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.productAttribute.notes">Notes</span></dt>
        <dd>
          <span>{{ productAttribute.notes }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.productAttribute.visible">Visible</span></dt>
        <dd>
          <span>{{ productAttribute.visible }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span yaliTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/product-attribute', productAttribute.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span yaliTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
