<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="taxRate">
      <h2 data-cy="taxRateDetailsHeading"><span yaliTranslate="bisterApp.taxRate.detail.title">Tax Rate</span></h2>

      <hr />

      <yali-alert-error></yali-alert-error>

      <yali-alert></yali-alert>

      <dl class="row-md jh-entity-details">
        <dt><span yaliTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ taxRate.id }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.taxRate.country">Country</span></dt>
        <dd>
          <span>{{ taxRate.country }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.taxRate.state">State</span></dt>
        <dd>
          <span>{{ taxRate.state }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.taxRate.postcode">Postcode</span></dt>
        <dd>
          <span>{{ taxRate.postcode }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.taxRate.city">City</span></dt>
        <dd>
          <span>{{ taxRate.city }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.taxRate.rate">Rate</span></dt>
        <dd>
          <span>{{ taxRate.rate }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.taxRate.name">Name</span></dt>
        <dd>
          <span>{{ taxRate.name }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.taxRate.compound">Compound</span></dt>
        <dd>
          <span>{{ taxRate.compound }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.taxRate.priority">Priority</span></dt>
        <dd>
          <span>{{ taxRate.priority }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.taxRate.taxClass">Tax Class</span></dt>
        <dd>
          <div *ngIf="taxRate.taxClass">
            <a [routerLink]="['/tax-class', taxRate.taxClass.id, 'view']">{{ taxRate.taxClass.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span yaliTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tax-rate', taxRate.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span yaliTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
