<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="productSpecification">
      <h2 data-cy="productSpecificationDetailsHeading">
        <span yaliTranslate="bisterApp.productSpecification.detail.title">Product Specification</span>
      </h2>

      <hr />

      <yali-alert-error></yali-alert-error>

      <yali-alert></yali-alert>

      <dl class="row-md jh-entity-details">
        <dt><span yaliTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ productSpecification.id }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.productSpecification.title">Title</span></dt>
        <dd>
          <span>{{ productSpecification.title }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.productSpecification.value">Value</span></dt>
        <dd>
          <span>{{ productSpecification.value }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.productSpecification.description">Description</span></dt>
        <dd>
          <span>{{ productSpecification.description }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.productSpecification.productSpecificationGroup">Product Specification Group</span></dt>
        <dd>
          <div *ngIf="productSpecification.productSpecificationGroup">
            <a [routerLink]="['/product-specification-group', productSpecification.productSpecificationGroup.id, 'view']">{{
              productSpecification.productSpecificationGroup.title
            }}</a>
          </div>
        </dd>
        <dt><span yaliTranslate="bisterApp.productSpecification.product">Product</span></dt>
        <dd>
          <div *ngIf="productSpecification.product">
            <a [routerLink]="['/product', productSpecification.product.id, 'view']">{{ productSpecification.product.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span yaliTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/product-specification', productSpecification.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span yaliTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
