<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="refund">
      <h2 data-cy="refundDetailsHeading"><span yaliTranslate="bisterApp.refund.detail.title">Refund</span></h2>

      <hr />

      <yali-alert-error></yali-alert-error>

      <yali-alert></yali-alert>

      <dl class="row-md jh-entity-details">
        <dt><span yaliTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ refund.id }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.refund.amount">Amount</span></dt>
        <dd>
          <span>{{ refund.amount }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.refund.reason">Reason</span></dt>
        <dd>
          <span>{{ refund.reason }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.refund.orderCode">Order Code</span></dt>
        <dd>
          <span>{{ refund.orderCode }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.refund.status">Status</span></dt>
        <dd>
          <span yaliTranslate="{{ 'bisterApp.RefundStatus.' + refund.status }}">{{ refund.status }}</span>
        </dd>
        <dt><span yaliTranslate="bisterApp.refund.transaction">Transaction</span></dt>
        <dd>
          <div *ngIf="refund.transaction">
            <a [routerLink]="['/transaction', refund.transaction.id, 'view']">{{ refund.transaction.code }}</a>
          </div>
        </dd>
        <dt><span yaliTranslate="bisterApp.refund.user">User</span></dt>
        <dd>
          <span>{{ refund.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span yaliTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/refund', refund.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span yaliTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
