<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="yali-payment-schedule-heading"
        data-cy="PaymentScheduleCreateUpdateHeading"
        yaliTranslate="bisterApp.paymentSchedule.home.createOrEditLabel"
      >
        Create or edit a Payment Schedule
      </h2>

      <div>
        <yali-alert-error></yali-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" yaliTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" yaliTranslate="bisterApp.paymentSchedule.dueDate" for="field_dueDate">Due Date</label>
          <div class="d-flex">
            <input
              id="field_dueDate"
              data-cy="dueDate"
              type="datetime-local"
              class="form-control"
              name="dueDate"
              formControlName="dueDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('dueDate')!.invalid && (editForm.get('dueDate')!.dirty || editForm.get('dueDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dueDate')?.errors?.required"
              yaliTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('dueDate')?.errors?.datetimelocal"
              yaliTranslate="entity.validation.datetimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" yaliTranslate="bisterApp.paymentSchedule.totalPrice" for="field_totalPrice">Total Price</label>
          <input
            type="number"
            class="form-control"
            name="totalPrice"
            id="field_totalPrice"
            data-cy="totalPrice"
            formControlName="totalPrice"
          />
          <div *ngIf="editForm.get('totalPrice')!.invalid && (editForm.get('totalPrice')!.dirty || editForm.get('totalPrice')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('totalPrice')?.errors?.required"
              yaliTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('totalPrice')?.errors?.min"
              yaliTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('totalPrice')?.errors?.number"
              yaliTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" yaliTranslate="bisterApp.paymentSchedule.remarks" for="field_remarks">Remarks</label>
          <input type="text" class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks" />
          <div *ngIf="editForm.get('remarks')!.invalid && (editForm.get('remarks')!.dirty || editForm.get('remarks')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('remarks')?.errors?.minlength"
              yaliTranslate="entity.validation.minlength"
              [translateValues]="{ min: 20 }"
            >
              This field is required to be at least 20 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('remarks')?.errors?.maxlength"
              yaliTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 250 }"
            >
              This field cannot be longer than 250 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" yaliTranslate="bisterApp.paymentSchedule.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'bisterApp.PaymentScheduleStatus.null' | translate }}</option>
            <option *ngFor="let paymentScheduleStatus of paymentScheduleStatusValues" [value]="paymentScheduleStatus">
              {{ 'bisterApp.PaymentScheduleStatus.' + paymentScheduleStatus | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('status')?.errors?.required"
              yaliTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" yaliTranslate="bisterApp.paymentSchedule.isOverDue" for="field_isOverDue">Is Over Due</label>
          <input type="checkbox" class="form-check" name="isOverDue" id="field_isOverDue" data-cy="isOverDue" formControlName="isOverDue" />
        </div>

        <div class="row mb-3">
          <label class="form-label" yaliTranslate="bisterApp.paymentSchedule.invoice" for="field_invoice">Invoice</label>
          <select
            class="form-control"
            id="field_invoice"
            data-cy="invoice"
            name="invoice"
            formControlName="invoice"
            [compareWith]="compareInvoice"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="invoiceOption" *ngFor="let invoiceOption of invoicesCollection">{{ invoiceOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" yaliTranslate="bisterApp.paymentSchedule.purchaseOrdep" for="field_purchaseOrdep">Purchase Ordep</label>
          <select
            class="form-control"
            id="field_purchaseOrdep"
            data-cy="purchaseOrdep"
            name="purchaseOrdep"
            formControlName="purchaseOrdep"
            [compareWith]="comparePurchaseOrder"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="purchaseOrderOption" *ngFor="let purchaseOrderOption of purchaseOrdersSharedCollection">
              {{ purchaseOrderOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span yaliTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span yaliTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
