<div>
  <h2 id="page-heading" data-cy="RefundHeading">
    <span yaliTranslate="bisterApp.refund.home.title">Refunds</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span yaliTranslate="bisterApp.refund.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-refund"
        [routerLink]="['/refund/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" yaliTranslate="bisterApp.refund.home.createLabel"> Create a new Refund </span>
      </button>
    </div>
  </h2>

  <yali-alert-error></yali-alert-error>

  <yali-alert></yali-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" yaliTranslate="bisterApp.refund.home.search">Search for Refund</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'bisterApp.refund.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="refunds?.length === 0">
    <span yaliTranslate="bisterApp.refund.home.notFound">No Refunds found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="refunds && refunds.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr yaliSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" yaliSortBy="id">
            <div class="d-flex">
              <span yaliTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" yaliSortBy="amount">
            <div class="d-flex">
              <span yaliTranslate="bisterApp.refund.amount">Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" yaliSortBy="reason">
            <div class="d-flex">
              <span yaliTranslate="bisterApp.refund.reason">Reason</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" yaliSortBy="orderCode">
            <div class="d-flex">
              <span yaliTranslate="bisterApp.refund.orderCode">Order Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" yaliSortBy="status">
            <div class="d-flex">
              <span yaliTranslate="bisterApp.refund.status">Status</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" yaliSortBy="transaction.code">
            <div class="d-flex">
              <span yaliTranslate="bisterApp.refund.transaction">Transaction</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" yaliSortBy="user.id">
            <div class="d-flex">
              <span yaliTranslate="bisterApp.refund.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let refund of refunds; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/refund', refund.id, 'view']">{{ refund.id }}</a>
          </td>
          <td>{{ refund.amount }}</td>
          <td>{{ refund.reason }}</td>
          <td>{{ refund.orderCode }}</td>
          <td yaliTranslate="{{ 'bisterApp.RefundStatus.' + refund.status }}">{{ refund.status }}</td>
          <td>
            <div *ngIf="refund.transaction">
              <a [routerLink]="['/transaction', refund.transaction.id, 'view']">{{ refund.transaction.code }}</a>
            </div>
          </td>
          <td>
            {{ refund.user?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/refund', refund.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" yaliTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/refund', refund.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" yaliTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(refund)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" yaliTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="refunds && refunds.length > 0">
    <div class="d-flex justify-content-center">
      <yali-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></yali-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
